html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("images/crowd.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headline {
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    padding-top: 40px;
    color: #092c4f;
}

#firebaseui-auth-container {
    padding: 6em 0;
}

.projectBody {
    background: #efefef;
    padding: 32px;
    padding-top: 16px;
    color: #333;
}

.projectBody h1, h3 {
    text-align: center;
    color: #787878;
}

#tasks {
    width: 98%;
    padding: 9px;
    font-size: 16px;
}
